body {
    padding-bottom: 20px;
    overflow-x: hidden;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* NAVBAR  */

.nav-with-logo .navbar-brand {
    height: 80px;
}

.nav-with-logo .nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-with-logo .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}

.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.navbar-nav > li > .dropdown-menu {
    z-index: 9999;
}

/* Footer */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #222;
    color: #1e94cc;
    text-align: center;
}

.footer-text{
    padding-top: 20px;
}